thead tr {
    font-weight: bold;
    background-color: darkgreen;
    color: white;
}

footer {
    letter-spacing: 3px !important;
}

.adm {
    padding: 0px;
    font-weight: bold;
    color: white;
    background-color: darkblue;
    text-align: center;
    border-radius: 4px
}

#tabela-cbpm-admin td detalhe {
    font-size: 23px;
}

td a:hover {
    text-decoration: none;
}

td detalhe:before {
    content: "\F4DB";
    font-family: "bootstrap-icons";
}

td img {
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
}


/* Detalhe */
.detalhe {
    height: 370px;
    width: 550px;
    box-shadow: var(--sombra);
    border-radius: var(--rd-min);
    position: relative;
    padding: calc(var(--pd-min) + 17px);
    text-align: left;
}

    .detalhe img {
        height: 144px;
        position: absolute;
        left: 40px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .detalhe input {
        width: 100%
    }

    .detalhe .pessoa {
        position: absolute;
        right: 50px;
        width: 300px;
        height: auto;
    }

        .detalhe .pessoa span, .detalhe .informacoes-adicionais span {
            font-weight: bold;
            color: var(--cl-main-5-cinza);
        }

.grupo-1, .grupo-2 {
    position: relative;
}

    .grupo-1 .descricao, .grupo-2 .funcao {
        left: 0px;
        top: 0;
        width: 155px;
        text-align: left;
    }

    .grupo-1 .datanascimento, .grupo-2 .ativo {
        position: absolute;
        right: 0px;
        top: 0;
        text-align: right;
    }

#DataNascimento {
    width: 135px;
}

.informacoes-adicionais hr {
    height: 1px;
    width: 100%;
    background-color: var(--cl-main-5-cinza);
    margin: 15px 0;
}


.detalhe .informacoes-adicionais {
    width: 100%;
    height: 100%;
    padding: 150px 0 0 0;
}

.informacoes-adicionais .titulo-informacoes {
    width: 100%;
    text-align: center;
    font-size: 17px;
}

.grupo-3 {
    margin-top: 24px;
    width: 45%
}

.grupo-4 {
    width: 45%;
    position: absolute;
    top: 252px;
    right: 30px;
}

.edit {
    position: absolute;
    right: 0px;
    bottom: -30px;
    width: 100%;
}

    .edit button {
        font-weight: bold;
        font-size: 14px;
        padding: 4px 20px;
        color: white;
        background-color: darkslateblue;
        border: none;
        border-radius: 4px;
        width: 100%;
    }
/*        .edit button:after {
            font-family: "bootstrap-icons";
            content: "\F30A";
            font-size: 15px;
            padding: 5px
            
        }*/

/* Salvar */
.salvo {
    background: #ff2b75;
    transition: 1s;
    content: "asdf";
    font-family: "bootstrap-icons";
}
