@model Sistema
@{

}
<div class="titulo"><a>Detalhes do Sistema</a></div>
<hr>
<br />

<form>
</form>


@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
    <script>
        const quill = new Quill('#editor', {
            modules: {
                toolbar: [
                    ['bold', 'italic', 'color', 'background'],
                    ['link', 'blockquote', 'code-block'],
                    [{ list: 'ordered' }, { list: 'bullet' }],
                ],
            },
            theme: 'snow',
        });
        document.querySelector('.ql-editor').innerHTML = document.getElementById('Descricao').value;



        quill.on('text-change', function (delta, oldDelta, source) {
            // Get HTML content from Quill editor
            var htmlContent = document.querySelector('.ql-editor').innerHTML;
            // Update the hidden input value with HTML content
            document.getElementById('Descricao').value = htmlContent;
        });
    </script>
}