@import url('https://fonts.googleapis.com/css?family=Lobster');

.titulo {
    width: 25vw;
    display: inline-block;
    border-radius: 4px;
    margin-top: calc(var(--px-max) + 35px)
}

    .titulo a {
        color: var(--cl-main-5-cinza);
        text-align: center;
        pointer-events: none;
        font-size: calc(var(--font-size) + 5px);
        font-weight: bold;
        letter-spacing: 1px;
    }

.grid {
    text-align: center;
    margin-bottom: var(--px-max);
    animation: txtFlyIn var(--tr-med) ease;
    margin: 0 7vw 0 7vw;
}

.cartao {
    display: inline-block;
    margin: 10px;
    padding: 5px 15px 15px 15px;
}



/* Especificos */
saudacao {
    text-align: center;
    margin: 5px;
    font-size: 20px;
    /*width: 15vw;*/
    height: 4rem;
    /*background-image: conic-gradient(#1F82BF,#58A65D,#1F82BF);*/
    /*color: white;*/
    line-height: 0.7;
    /*background-color: rgb(255,255,255,0.3);*/
    /*border: thin solid lightgrey;*/

}

    saudacao a {
        margin: auto;
        text-align: center;
        font-family: "Lobster";
        font-size: 2rem;
        color: var(--cl-main-2-azul-claro);
        /*box-shadow: var();*/
        /*text-shadow: 2px 0px 1px rgba(100, 181, 83), 4px 0px 0px rgba(30, 127, 193), 6px 0px 0px rgba(58, 88, 59);*/
        letter-spacing: 2px;
        /*transform: skewY(-5deg);*/
        /*background-image: linear-gradient(to left, #1F82BF,#58A65D,#1F82BF);*/
        /*        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/
    }

    saudacao i {
        font-size: 30px;
        margin-left: 10px;
    }




/* Alertas */
.validade {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--cl-warn-1-marrom);
    display: inline-block;
    align-items: center;
}

.alerta {
    text-align: left;
    min-height: 20vh;
    max-height: 60vh;
    width: 35vw;
    display: inline-block;
    background-color: var(--cl-warn-4-laranja-claro);
    position: relative;
    word-break: break-word;
}
.alerta h3 {
    text-align: center;
}

.alerta-descricao {
    overflow: auto;
    min-height: 20vh;
    max-height: 43vh;    
}

.validade a {
    position: absolute;
    top: 10px;
}

.validade:before {
    font-family: "bootstrap-icons";
    content: "\F33B";
    color: var(--cl-warn-5-amarelo);
    font-size: 20px;
    margin-right: 15px;
}

.alerta hr {
    all: initial;
    background-color: black;
}


/* Aniversariantes */
.aniversariante {
    height: 200px;
    width: 250px;
    transition: var(--tr-med);
    font-weight: bold;
    font-size: 15px;
}

    .aniversariante:hover {
        background-color: #1F82BF;
        background-image: conic-gradient(#1F82BF,#58A65D,#1F82BF);
        color: white;
        box-shadow: var(--sombra);        
        font-weight: bold;
    }

        .aniversariante:hover img {
            border-radius: var(--rd-min);
        }

.data {
    float: left;
    width: 100%;

}

.foto {
    height: 80%;
}

    .foto img {
        height: 90%;
        border-radius: 200px;
        margin-top: 7px;
        aspect-ratio: 1/1;
        object-fit: cover;        
        transition: var(--tr-rap) var(--tr-retorno)
    }

.nome {
    float: left;
    bottom: 0;
    margin-top: 15px;
    width: 100%;
    line-height: 1.2
}


/* Funcionarios */
.funcionario i {
    color: blue;
}


/* Sistemas */

.sistema {
    width: 20vw;
    height: 22vh;
    display: inline-block;
    border-radius: 5px;
    word-break: break-word;
    padding: 15px 30px 30px 30px;
    margin: 20px;
    overflow: auto;
    transition: all 0.5s ease-in-out;
    border: thin solid lightgrey;
    overflow: hidden;
}

    .sistema:hover {
        background-color: white;
        box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
    }

        .sistema:hover .descricao-sistema {
            visibility: visible;
            opacity: 1;
            border-top: thin solid lightgrey;
            border-radius: 0;
        }

        .sistema:hover .clique-aqui {
            color: var(--cl-main-2-azul-claro);
        }

.logo-sistema {
    top: 5px;
    right: 0;
    width: 1vw;
    height: calc(2rem + 2px);
    border-radius: 0;
    vertical-align: top;
    display: inline-block;
}

.titulo-sistema {
    display: table-caption;
    font-size: 19px;
    text-align: left;
    width: 19vw;
    height: calc(2rem + 2px);
    top: 50px;
    color: var(--cl-main-5-cinza);
    font-weight: bold;
    line-height: 1;
    vertical-align: top;
}

.descricao-sistema {
    text-align: justify;
    width: 20vw;
    height: 16vh;
    font-size: 17px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    border-top: thin solid lightgrey;
    border-radius: 0;
    text-decoration: none;
    color: black;
    transition: border 4s ease-in-out, visibility 1s ease-in-out, opacity 1s ease-in-out;
}

.clique-aqui {
    bottom: 2vh;
    padding-top: 1vh;
    font-size: 17px;
    position: relative;
    text-align: center;
    margin-top: 2vh;
    border-top: thin solid lightgrey;
    border-radius: 0;
    color: lightgrey;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.1em;
    font-weight: bold;    
}

    .clique-aqui i {
    }

/* Suporte */
.suporte {
    padding: 0;
    margin: 10px;
    font-size: 17px;
}

    .suporte table {
        padding: 0;
        width: var(--px-max);
        height: 380px;
    }

.lista {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 12px;
}

.suporte table {
    table-layout: fixed;
    width: 20vw;
}

    .suporte table th {
        height: 3rem;
        font-size: 14px;
    }

.suporte span {
    color: var(--cl-main-2-azul-claro);
    font-size: 13px;
    font-weight: bold;
}
    .suporte span:before {
        font-family: "bootstrap-icons";
        content: '\F30A';
        margin-right: 10px;
        font-size: 20px;
    }
    .suporte a span:hover {
        color: blue;
    }