@import url('../var/_var.css');

.titulo {
    width: 25vw;
    display: inline-block;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
    border-radius: 4px;
    margin-top: calc(var(--px-max) + 35px)
}

    .titulo a {
        color: var(--cl-main-5-cinza);
        text-align: center;
        pointer-events: none;
        font-size: calc(var(--font-size) + 5px);
        font-weight: bold;
        letter-spacing: 1px;
    }

.grid {
    text-align: center;
    margin-bottom: var(--px-max);
    animation: txtFlyIn var(--tr-med) ease;
    margin: 0 7vw 0 7vw;
}

.cartao {
    display: inline-block;
    margin: 10px;
    padding: 5px 15px 15px 15px;
}


/* Especificos */
/* Alertas */
.validade {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--cl-warn-1-marrom);
    display: inline-block;
    align-items: center;
}

.alerta {
    text-align: left;
    min-height: 20vh;
    max-height: 60vh;
    width: 35vw;
    display: inline-block;
    background-color: var(--cl-warn-4-laranja-claro);
    position: relative;
    word-break: break-word;
    /*overflow: auto;*/
}
.alerta h3 {
    text-align: center;
    /*margin-bottom: 0;*/
}

.alerta-descricao {
    overflow: auto;
    min-height: 20vh;
    max-height: 43vh;    
}

.validade a {
    position: absolute;
    top: 10px;
}

.validade:before {
    font-family: "bootstrap-icons";
    content: "\F33B";
    color: var(--cl-warn-5-amarelo);
    font-size: 20px;
    margin-right: 15px;
}

.alerta hr {
    all: initial;
    background-color: black;
}


/* Aniversariantes */
.aniversariante {
    height: 200px;
    width: 250px;
    transition: var(--tr-med);
    font-weight: bold;
}

    .aniversariante:hover {
        background-color: #1F82BF;
        /*background-image: linear-gradient(#2C3340,#1F82BF,#58A65D,#1F82BF,#2C3340);*/
        background-image: conic-gradient(#1F82BF,#58A65D,#1F82BF);
        color: white;
        box-shadow: var(--sombra);
        /*transition: var(--tr-med);*/
        font-weight: bold;
    }

        .aniversariante:hover img {
            border-radius: var(--rd-min);
        }

.data {
    float: left;
    width: 100%;
}

.foto {
    height: 85%;
}

    .foto img {
        height: 90%;
        border-radius: 200px;
        margin-top: 7px;
        aspect-ratio: 1/1;
        object-fit: cover;
        /*transition: all .5s ease-in-out;*/
        transition: var(--tr-rap) var(--tr-retorno)
    }

.nome {
    float: left;
    bottom: 0;
    margin-top: 15px;
    width: 100%;
}


/* Funcionarios */
.funcionario i {
    color: blue;
}


/* Sistemas */

.sistema {
    width: 20vw;
    height: 22vh;
    display: inline-block;
    border-radius: 5px;
    word-break: break-word;
    padding: 15px 30px 30px 30px;
    margin: 20px;
    overflow: auto;
    transition: all 0.5s ease-in-out;
    border: thin solid lightgrey;
    overflow: hidden;
}

    .sistema:hover {
        background-color: white;
        box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
    }

        .sistema:hover .descricao-sistema {
            visibility: visible;
            opacity: 1;
            border-top: thin solid lightgrey;
            border-radius: 0;
        }

        .sistema:hover .clique-aqui {
            color: var(--cl-main-2-azul-claro);
            /*background-image: linear-gradient(to right, #2C3340,#1F82BF,#58A65D,#1F82BF,#2C3340);*/
            /*-webkit-background-clip: text;
            -webkit-text-fill-color: transparent;*/
            /*background-image: linear-gradient(to top, #58A65D, transparent)*/
        }

.logo-sistema {
    /*position: fixed;*/
    /*padding-top: 10px;*/
    /*position: relative;*/
    top: 5px;
    right: 0;
    width: 1vw;
    height: calc(2rem + 2px);
    border-radius: 0;
    vertical-align: top;
    display: inline-block;
}

.titulo-sistema {
    display: table-caption;
    font-size: 17px;
    text-align: left;
    width: 19vw;
    height: calc(2rem + 2px);
    top: 50px;
    color: var(--cl-main-5-cinza);
    font-weight: bold;
    line-height: 1;
    vertical-align: top;
}

.descricao-sistema {
    text-align: justify;
    width: 20vw;
    height: 16vh;
    font-size: 15px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    border-top: thin solid lightgrey;
    border-radius: 0;
    text-decoration: none;
    color: black;
    transition: border 4s ease-in-out, visibility 1s ease-in-out, opacity 1s ease-in-out;
}

.clique-aqui {
    bottom: 2vh;
    padding-top: 1vh;
    font-size: 17px;
    position: relative;
    text-align: center;
    margin-top: 2vh;
    border-top: thin solid lightgrey;
    border-radius: 0;
    color: lightgrey;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.1em;
    font-weight: bold;
    /*font-weight: bold;*/
}

    .clique-aqui i {
    }


/*.sistema {
    width: 25vw;
    height: 25vh;
    display: inline-block;
    border-radius: 4px;
    padding: 10px;
    margin: 15px;
    background-color: rgb(255, 255, 255, 0);*/
/*box-shadow: var(--sombra);*/
/*border: thin solid var(--cl-main-5-cinza);
    transition: all 1s ease-in-out;
    position: relative;
}




    .sistema:hover {
        background-color: rgb(255, 255, 255, 0.75);
        box-shadow: var(--sombra);
    }

.logo-sistema i {
    position: absolute;
    font-size: 55px;*/
/*font-size: 40px;*/
/*left: 1vw;
    top: 20px;*/
/*top: 6vh;
    left: 44%;
    transition: all .5s ease-in-out;
}

.titulo-sistema {*/
/*width: calc(100% - );*/
/*height: 20%;
    display: inline-block;*/
/*background-color: white;*/
/*padding-left: 20px;*/
/*padding-top: 5px;*/
/*margin-left: 60px;*/
/*word-break: break-word;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: left;
    overflow: auto;
    color: var(--cl-main-5-cinza)
}


.descricao-sistema {
    color: transparent;
    user-select: none;
    height: 55%;
    border-bottom: thin solid black;*/
/*border-top: thin solid black;*/
/*margin-top: 10px;
    text-align: left;
    overflow: hidden;
    word-break: break-word;
    text-align: justify;
    transition: all .5s ease-in-out;
    border-radius: 0;
    padding: 0 5px;
}

    .descricao-sistema a {
        color: inherit;
        user-select: inherit;
        text-decoration: none;
    }

a .url-sistema {
    width: 100%;
    cursor: pointer;*/
/*position: absolute;*/
/*left: 3%;
    bottom: 400px;
    color: var(--cl-tabl-3-cinza);
    transition: all .5s ease-in-out;
    border: 1px solid transparent;
}

.url-sistema {
    border: none;
    letter-spacing: 2px;
    margin-top: 0px;
    font-weight: bold;
    width: 100%;*/
/*padding: 5px;*/
/*background-color: transparent;
    height: 4vh;
}
.sistema:hover .descricao-sistema {
    overflow: auto;
    color: black;
    border-color: transparent;
}

.sistema:hover .logo-sistema i {
    color: transparent !important;
}

.sistema:hover a button {
    color: blue;
    font-weight: bolder!important;
    background-color: var(--cl-main-4-verde-claro)*/
/*font-size: 14px;*/
/*background-color: grey;*/
/*}*/
/* Suporte */
.suporte {
    padding: 0;
    margin: 10px;
    font-size: 17px;
}

    .suporte table {
        padding: 0;
        width: var(--px-max);
        height: 380px;
    }

.lista {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 12px;
}

.suporte table {
    table-layout: fixed;
    width: 20vw;
}

    .suporte table th {
        height: 3rem;
        font-size: 14px;
    }

.suporte span {
    color: var(--cl-main-2-azul-claro);
    font-size: 13px;
    font-weight: bold;
}
    .suporte span:before {
        font-family: "bootstrap-icons";
        content: '\F30A';
        margin-right: 10px;
        font-size: 20px;
    }
    .suporte a span:hover {
        color: blue;
        /*text-decoration:underline*/
    }