<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intranet</title>
    <link rel="stylesheet" href="~/css/styles/main.css" />
</head>
<body>
    <div class="background-cbpm">
        <img src="~/img/logo-cbpm-color.png" />
    </div>
    <div class="cbpm">
        <img src="~/img/logo-cbpm-color.png" />
        Caixa Beneficente<br />da
        <b>Polícia Militar</b>
    </div>
    <menu>
        <a href="/Inicio/Index" id="Inicio">Início</a>
        <a href="/Colaborador/Index" id="Colaborador">Colaboradores</a>
        <a href="/Sistema/Index" id="Sistema">Sistemas</a>
        <a href="/Suporte/Index" id="Suporte">Suporte técnico</a>
    </menu>
    <div class="render">
        @RenderBody()
    </div>
    <footer>
        <img src="~/img/logo-cbpm-branco.png" />
        <div>
             CBPM - Desde 1905 cuidando da saúde dos familiares dos policiais militares
        </div>
        <div class="social">
            <a href="https://www.youtube.com/@@caixabeneficentedapoliciam261" target="_blank">
                <i class="bi bi-youtube" style="color:#CD201F;font-size: 25px;"></i>
            </a>
            <a href="https://www.facebook.com/caixabeneficentesp/" target="_blank">
                <i class="bi bi-facebook" style="color: #3b5998; font-size: 25px;"></i>
            </a>
            <a href="https://www.instagram.com/caixabeneficente_sp/" target="_blank">
                <i class="bi bi-instagram" style="font-size: 25px; background-image: linear-gradient(#feda75,#fa7e1e,#d62976,#962fbf,#4f5bd5);-webkit-background-clip: text;-webkit-text-fill-color: transparent;"></i>
            </a>


        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", onPageReload);

        function onPageReload() {
            var nome = window.location.href.split('/')[3];
            var menuItems = document.querySelectorAll('menu a');

            menuItems.forEach(function (menuItem) {
                if (menuItem.getAttribute("id") === nome) {
                    menuItem.classList.add('ativo');
                }
            });
        }


    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
