@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    --font-family: "Poppins", sans-serif;
    --font-size: 14px;
    /*--spacing: 1rem;*/
    --width: 100vw;
    --height: 90vh;
    /* Constantes */
    --mult-padroes: 10;
    --mult-adjetivos: 2;
    /* Padroes */
    --sombra: 0 0 50px rgba(0, 0, 0, 0.15);
    --rd-min: calc(var(--mult-padroes) * 1px);
    --rd-med: calc(var(--mult-padroes) * 5px);
    --rd-max: calc(var(--mult-padroes) * 15px);
    --pd-min: calc(var(--mult-padroes) * 1px);
    --pd-med: calc(var(--mult-padroes) * 8px);
    --pd-max: calc(var(--mult-padroes) * 16px);
    /* Adjetivos */
    --px-min: thin;
    --px-med: calc(4px * var(--mult-adjetivos));
    --px-max: calc(8px * var(--mult-adjetivos));
    /* Animacoes */
    --tr-len: 4s;
    --tr-med: 1s;
    --tr-rap: .4s;
    --tr-retorno: ease-in-out;
    /* Paletas */
    /* Principal */
    --cl-main-1-azul: #2a323f;
    --cl-main-2-azul-claro: #1E7FC1;
    --cl-main-3-verde: #3a583b;
    --cl-main-4-verde-claro: #65b554;
    --cl-main-5-cinza: #2E393C;
    --cl-main-6-branco: #F2F2F2;

    /* Aviso */
    --cl-warn-1-marrom: #534439;
    --cl-warn-2-marrom-claro: #BBA89C;
    --cl-warn-3-laranja: #ffb276;
    --cl-warn-4-laranja-claro: #ffcc50;
    --cl-warn-5-amarelo: #ffff89;
    /* Tabela */
    --cl-tabl-1-azul: #2a323f;
    --cl-tabl-2-marrom-claro: #BBA89C;
    --cl-tabl-3-cinza: #65707D;
    --cl-tabl-4-Branco: #F2F2F2;
    /* Aniversario */
    --cl-aniv-1-Branco: #F2F2F2;
    --cl-aniv-2-roxo: #7E8ED9;
}
