body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    height: var(--height);
    overflow: hidden;
    background-color: var(--cl-main-6-branco);
    margin: 0;
    padding: 0
}

.background-cbpm {
    position: absolute;
    z-index: -1;
    top: 2vh;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: calc(var(--pd-med) + 20px);
    display: inline-block;
    text-align: center;
}

    .background-cbpm img {
        height: 80vh;
    }

div {
    border-radius: var(--rd-min);
    word-break: break-word;
}

a, i {
    text-decoration: none;
}

i {
    font-size: calc(var(--font-size) + 5px);
}

hr {
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 15%;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #2C3340,#1F82BF,#58A65D,#1F82BF,#2C3340);
}


table {
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: var(--sombra);
    border: var(--px-min) solid var(--cl-tabl-3-cinza);
    background-color: white;
}

th {
    background-color: var(--cl-tabl-1-azul);
    color: var(--cl-tabl-4-Branco);
    text-align: center;
    padding: var(--pd-min);
    min-width: 15vw;
}

td {
    padding: var(--pd-min);
    text-align: left;
}

tbody tr {
    border-bottom: var(--px-min) solid var(--cl-tabl-3-cinza);
}

    tbody tr:last-of-type {
        border-bottom: var(--px-med) solid var(--cl-tabl-2-marrom-claro)
    }

caption {
    caption-side: top;
    display: table-caption;
    text-align: center;
    font-weight: bold;
    background-color: var(--cl-tabl-3-cinza);
    color: var(--cl-tabl-4-Branco);
    margin-bottom: 0px;
}
