* {
    /* Main color palette */
    --branco-main: #FCFDFD;
    --verde-main: #91CEB1;
    --azul-claro-main: #C9DBDB;
    --azul-escuro-main: #17243D;
    --cinza-main: #65707D;
    /* Birthday card color palette */
    --verde-claro-birthday: #67DF7B;
    --verde-escuro-birthday: #003E00;
    --azul-birthday: #355E9F;
    --branco-birthday: #F8FFF8;
    --roxo-birthday: #7E8ED9;
    /* Warning card color palette */
    --laranja-warning: #ffb276;
    --marrom-escuro-warning: #534439;
    --marrom-claro-warning: #BBA89C;
}


.verde {
    background-color: #009641;
    color: #009641;
}

.amarelo {
    background-color: #fdca01;
    color: #fdca01;
}

.azul {
    background-color: #302682;
    color: #302682;
}
