@import url('icon.css');
* {
	--font: 'Helvetica', 'Arial', sans-serif;
	--font-size: 14px;
	--spacing: 1rem;
	--radius: 3rem;
	--padding: 10px;
	--container-width: 100vw;
	--container-height: 90vh;
	/*icon*/
	--icon-cake: "\f1fd";
}