@import url('color.css');
@import url('const.css');
html {
    --column-width: 14vw;
}

.tabela{
    width: 100%;
}
    .tabela table {
        border-collapse: collapse;
        margin: 0 auto;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
        border: 1px solid #ccc;
    }
    .tabela thead th {
        background-color: var(--azul-escuro-main);
        color: #ffffff;
        text-align: center;
    }
    .tabela th, .tabela td {
        padding: 12px 15px;
        text-align: left;
        width: var(--column-width);
    }

    .tabela tbody tr {
        border-bottom: 1px solid #dddddd;
    }
        .tabela tbody tr:nth-of-type(even) {
            border-bottom: 1px solid #dddddd;
        }

        .tabela tbody tr:last-of-type {
            border-bottom: 5px solid var(--marrom-claro-warning);
        }

caption {
    caption-side: top;
    display: table-caption;
    text-align: center;
    width: 100%;
    font-weight: bold;
    background-color: var(--cinza-main);
    color : white;
    margin-bottom: 0px;
}
i {
    font-size: 18px;
    text-decoration: none;
    color: var(--azul-escuro-main);
    margin-right: 3px;
}