@import url('const.css');
@import url('color.css');

.grid {
    text-align: center;
    width: 100%;
    margin-bottom: 5vh;
    animation: txtFlyIn 0.7s ease;
    /*box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.15);*/
}

.title {
    width: 25vw;
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.title a {
    color: var(--cinza-main);
    text-align: center;
    pointer-events: none;
    font-size: calc(var(--font-size) + 7px);
    font-weight: bold;
    letter-spacing: 1px;
}

.alerta {
    text-align: left;
    min-height: 20vh;
    max-height: 60vh;
    width: 30vw;
    display: inline-block;
    background-color: var(--laranja-warning);
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px 30px 20px;
    color: black;
    /*font-weight: bold;*/
    position: relative;
    /*border: 2px solid red;*/
    word-break: break-word;
    overflow: auto;
}

    .alerta h3 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }
    .validade a{
        position:absolute;
        top: 10px;
    }
.validade:before {
    font-family: "bootstrap-icons";
    content: "\F33B";
    color: yellow;
    font-size: 20px;
    margin-right: 15px;
}

    .alerta hr {
        all: initial;
        background-color: black;
    }


.validade {
    /*position: absolute;*/
    margin-bottom: 10px;
    /*right: 5px;*/
    font-size: 12px;
    font-weight: bold;
    /*background-color: var(--marrom-claro-warning);*/
    color: var(--marrom-escuro-warning);
    display: inline-block;
    align-items: center;

}

.card {
    height: 200px;
    width: 250px;
    display: inline-block;
    /*background-color: var(--azul-birthday);*/
    border-radius: 10px;
    margin: 10px;
    padding: 5px 15px 15px 15px;
    color: var(--azul-escuro-main);
    font-weight: bold;
    position: relative;
    /*border: 2px solid red;*/
    transition: 1s;
}

    .card:hover {
        background-color: var(--roxo-birthday);
        color: white;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
        /*transform: rotate(360deg)*/
        /*scale: 1.15;*/
        /*color: white;*/
        /*color: black;*/
        /*box-shadow: 10px 10px 10px*/
    }

        .card:hover img {
            transition: 0.6s;
            border-radius: 20%;
        }

        .card:hover .ribbon {
            /*visibility: visible*/
        }

.foto {
    height: 85%;
}


.data {
    float: left;
    width: 100%;

}



.foto img {
    height: 90%;
    border-radius: 200px;
    margin-top: 7px;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: all .5s ease-in-out;
}



.nome {
    float: left;
    bottom: 0;
    margin-top: 15px;
    width: 100%;
    /*background: rgb(255 255 255 / 37%);*/
    border-radius: var(--radius);
}

@keyframes txtFlyIn {
    0% {
        opacity: 20%;
    }
}
