@import url('const.css');
@import url('color.css');

html {
    --local-padding: 70px;
    --local-container-height: 20vh;
}

body {
    font-family: var(--font);
    font-size: var(--font-size);
    height: var(--container-height);
    overflow: hidden;
    background-color: var(--branco-main);
    background-image: url("/img/logo-cbpm.png");
    /*background-size: calc(--);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0
}

hr {
    height: 7px;
    width: 7vw;
    border: none;
}

.cbpm {
    position: absolute;
    top: 28px;
    left: var(--local-padding);
    text-align: left;
    color: var(--azul-escuro-main);
    pointer-events: none;
}

    .cbpm b {
        letter-spacing: 2px;
    }

menu {
    width: 100%;
    position: fixed;
    top: 30px;
    text-align: center;
    /*background-color: var(--azul-claro-main)*/
}

    menu a {
        text-decoration: none;
        color: var(--cinza-main);
        font-weight: bold;
        margin: 0 25px;
        letter-spacing: 3px;
    }

        menu a:hover {
            color: var(--azul-escuro-main);
        }

.render {
    padding-top: calc(var(--padding) + var(--local-padding));
    margin: 100px 0px 0px 0px;
    border-radius: 10px;
    height: calc(var(--container-height) - 23vh);
    background-color: rgb(255,255,255, 0.85);
    overflow: auto;
    text-align: center;
    width: 100vw;
    height: 70vh;
}

footer {
    position: fixed;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--azul-escuro-main);
    color: var(--branco-main);
    text-align: center;
    font-size: 11px;
    letter-spacing: 2px;
    pointer-events: none;
}
