.grid {
    align-content: flex-start;
}

.tabela-suporte {
    display: inline-flex;
    margin: 0 10px 20px 10px;
    width: 400px;
    height: 220px;
    
}

    .tabela-suporte table {
        border-collapse: collapse;
        margin: 0 auto;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
        border: 1px solid #ccc;
        width: 100%
    }

    .tabela-suporte thead th {
        background-color: var(--azul-escuro-main);
        color: #ffffff;
        text-align: top;
    }

    .tabela-suporte th, .tabela-suporte td {
        padding: 12px 15px;
        text-align: left;
        width: var(--column-width);
    }

    .tabela-suporte tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .tabela-suporte tbody tr:nth-of-type(even) {
            border-bottom: 1px solid #dddddd;
        }

        .tabela-suporte tbody tr:last-of-type {
            vertical-align: baseline;
            border-bottom: 5px solid var(--marrom-claro-warning);
        }


        .tabela-suporte a{
            text-decoration: none;
            color: white;

            pointer-events: stroke;
            width: 100%;
            margin-bottom: 5px;
            background-color: darkred;


        }