@model Suporte
@{
    ViewData["Title"] = "Suporte";
}
<div class="titulo"><a>Suporte</a></div>
<hr>
<br />
<div class="grid">
    @foreach (var item in Model.Arquivos.OrderBy(x => x.Key))
    {
        <div class="cartao suporte">
            <table>
                <thead>
                    <tr>
                        <th>@item.Key</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="lista">
                                @foreach (var file in item.Value.OrderBy(x => x))
                                {
                                    <a href="/suporte/@(item.Key)/@(file).pdf" target="_blank"><span>@file</span><br /><br /></a>
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>



